.target
.DS_Store
.checkstyle
.classpath
.project
*/target/*
*/target/**

*/project/*
*/project/**

.idea/
.idea/.name
.idea/*.xml
.idea/**/*.xml
./.idea/compiler.xml

ImagesSwaggerPlayFramework/.idea
ImagesSwaggerPlayFramework/project
ImagesSwaggerPlayFramework/target


play-scala-starter-example/.idea
play-scala-starter-example/project
play-scala-starter-example/target
play-scala-starter-example/build
play-scala-starter-example/.gradle

